.bg-main-color{
    background-color: #1E202B;
}
.bg-sec-color{
    background-color: #323544;
}
.app-container{
    background-image: url(../imgs/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.icons{
    width: 20px;
    height: 25px;
}